mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .logo img {
    height: 40px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .bienvenido-texto {
    margin-right: 16px;
    color: #fff;
    font-weight: 500;
  }