<div class="login-container" @fadeInAnimation [ngStyle]="{'background-image': 'url(assets/fondo-login.png)', 'background-size': 'cover', 'background-position': 'center', 'height': '100vh'}">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="login()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" placeholder="Ingresa tu email">
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Ingresa tu contraseña">
          </mat-form-field>
          
          <p><a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a></p>
          
          <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <p>¿No tienes una cuenta? <a routerLink="/signup">Registrarse</a></p>
      </mat-card-actions>
    </mat-card>
  </div>
  